.container{
	width: 1170px;
	margin: 0 auto;
	margin-bottom: 200px;

}

.big-box{
	width: 400px;
	height: 400px;
	background-color: darkblue;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
	box-shadow: 8px 1px 19px 3px rgba(0,0,0,0.63);
-webkit-box-shadow: 8px 1px 19px 3px rgba(0,0,0,0.63);
-moz-box-shadow: 8px 1px 19px 3px rgba(0,0,0,0.63);
}

.small-box{
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 18px;
	transition-duration: 3s;
	transition-timing-function: ease;
}
.small-box:hover {
 background-color: green;
    width: 130px;
	height: 130px;
	border-radius: 18px;
	transform:translate(-50%,-50%)rotate(45deg);

}

.ball{
	width: 200px;
	height: 200px;
	background-color: purple;
	border-radius: 50%;
	position: relative;

	
  animation:  jump 3s 1s ease-in-out alternate infinite; 
}

  @keyframes jump{

  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
   }